@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

 body {
  font-family: 'Montserrat', sans-serif;
  background-color:white;
}

/* navbar */
.sidebar {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #999;
}

.bottom-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link {
  transition: all .4s;
}

.sidebar-link:hover {
  background-color: #FFC557;
  border-radius: 5px;
}

.current {
  background-color: #37C42B;
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all .3s;
}

.current:hover {
  background-color: #FFC557;
  border-radius: 7px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
}
 
.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #999;
  transition: all .4s;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #FFC557;
}

.search-button {
  border-radius: 50%;
  padding: 10px 16px;
  transition: all .4s;
}

.search-button:hover {
  background-color: #CEC44C;
  transform: translateY(-1px);
}

.icon-parent {
  position: relative;
}

.icon-bullet::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  height: 12px;
  width: 12px;
  background-color: #FFC557;
  border-radius: 50%;
}
  
@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }
   
  .top-navbar {
    position: static;
  }
}
/* end of navbar */
 

 
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding-left: 300px;
     
    padding-right: 20px;
   font-size: medium;
    display:block;
  }
  
  .content-table thead tr {
    background-color: #088A08;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #088A08;;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #37C42B;;
  }

  .table,.table-striped,.table-hover,.table{
    
     left:250px;
     width:80%;
    
    }
     
    .first-letter{
      color:#37C42B;
    }
    .table,.table-striped,.table-hover,.table,th,tr,.titre{
      text-align: center;
    padding-right: 0px;
     
    }
    
    .container{
      overflow-x:auto;
    }
     .text{
      padding-top:80px;
      padding-left: 300px;
      font-family: 'Montaga', serif;
      color:#088A08;
    
    }
    
    td{
      padding-top: 12px;
      padding-bottom: 12px;;
      height: auto;
      width: 2000px;
    }
    
    .titre{
        font-size: large;
      }      .fa,.fa-bullhorn,.fa,.fa-question-circle{
        color: #FFC557;
     }